    body {
    display:flex
}
.words {
    margin:auto;
    width:1000px;
    background: dodgerblue;
    border-radius: 5px;
    color:wheat;
    padding: 20px;
    box-shadow: 10px 10px 10px  black;
    text-align: center
}
p {
    font-size: 30px;
    text-shadow: 1px 1px 0px black;
    border:1px solid black
}
.firstp:hover {
    color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background: tomato  
}
.firstp {
    color :rgb(255, 255, 255);
    font-size: 20px;
    background: rgb(76, 76, 148);
    border: 1px solid rgb(12, 48, 59);
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}
